/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     margin: 0 auto;
     background-color: #f0efef;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

header {
  height: 150px;
  font-size: 15px;
  background-color: #033048;
}

header h1 {
  color: white;
  float: left;
  font-weight: 900;
  font-size: 40px;
  margin: 40px 0px 0px 50px 

}
nav { 
  width: 70%; 
  float: right;
}

nav ul { 
  margin: 0 auto;
  float: right;
  margin: 40px 0px 0px 0px;
  padding: 0px 0px 50px 0px;

  }

nav li {
  float: left;
  padding: 15px;
  margin: 10px;

}
nav li a {
  color: #f9e42e;
  display: inline;
  float: right;
  text-decoration: none;
}

.main_content  {
  width: 700px;
  background-color: #f0efef;
  float: left;
}

.main_content article{
  margin: 10px 40px;
}

p span { 
  padding-top: 0px;
  float: left;
  font-size: 80px;
  line-height: 60px;
}

article h1 {
  font-size: 40px;
  font-weight: 700;
  width: 90%;
}

article p {
  font-size: 24px;
  font-weight: 200;
  text-align: justify;
}

img {
  width: 625px;
}

article a {
  font-size: 24px;
  text-decoration: none;
  color: #033048;
}

hr {
  margin: 40px;
}

.nav_2 {
  width: 240px;
  float: left;
  color: #033048;
  display: block;

}

.nav_2 h3 {
  font-size: 32px;
  margin: 0 auto;
  font-weight: 900;
  margin: 50px 0px 0px 0px;
}

.nav_2 ul {
  font-size: 24px;
  padding: 0;
}

.nav_2 a{
  color: #033048;
  margin: 0;
  padding: 0;
}

#miniabout {
  width: 240px ;
  float: right;
}

#miniabout h3 {
  font-size: 32px;
  margin: 0 auto;
  font-weight: 900;
  margin: 50px 0px 0px 0px;
}

#miniabout p {
  font-size: 22px;
}

#miniabout a {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #033048;
}


footer {
  color: white;
  font-size: 9px;
  text-align: center;
  font-weight: 600;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




